<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="sourceConnStr" connectionString="server=192.168.88.190;database=GDWHH20240116;uid=whh;pwd=Zowie2023" />
		<add name="toConnStr" connectionString="Data Source= (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.88.190)(PORT = 1522))(CONNECT_DATA =(SERVER = DEDICATED) (SERVICE_NAME = ORCL) ) );User ID=CSY;Password=csy;Persist Security Info=True;" />
	</connectionStrings>
	<appSettings>
		<add key="sourceDbType" value="" />
		<add key="toDbType" value="" />
	</appSettings>
</configuration>